@model List<Backend.Model.Pharmacies.PharmacySystem>
@{
    ViewData["Title"] = "Pharmacies";
    Layout = "_Layout";
}

<div class="card text-center">
    <div class="card-header">
        <h2 class="text-center">Registered Pharmacies</h2>
    </div>

    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th><h5 class="card-title">Name</h5></th>
                    <th><h5 class="card-title">API Key</h5></th>
                    <th><h5 class="card-title">URL</h5></th>
                    <th><h5 class="card-title">gRPC Host</h5></th>
                    <th><h5 class="card-title">gRPC Port</h5></th>
                    <th><h5 class="card-title">Exchange Name</h5></th>
                    <th><h5 class="card-title">Is Subscribed?</h5></th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                <tr>
                    <td class="text-center">
                        @item.Name
                    </td>
                    <td class="text-center">
                        @item.ApiKey
                    </td>
                    <td class="text-center">
                        @item.Url
                    </td>
                    <td class="text-center">
                        @item.GrpcAdress.GrpcHost
                    </td>
                    <td class="text-center">
                        @item.GrpcAdress.GrpcPort
                    </td>
                    <td class="text-center">
                        @item.ActionsBenefitsExchangeName
                    </td>
                    <td class="text-center">
                        @((item.ActionsBenefitsSubscribed) ? "Yes" : "No")
                    </td>
                    <td class="text-center">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>