@model NewTenderView
@{
    ViewData["Title"] = "Tender";
    Layout = "_Layout";
}

<h4>Open New Tender</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @*<form asp-action="Create" id="form">*@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-10">Tender Name</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TenderName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TenderName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-10">End Date</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate, new { @class = "ui-datepicker-calendar", id = "from-date" })
            </div>
        </div>
        <table>
            <tr>
                <td>
                    <div class="form-group">
                        <label class="control-label col-md-10">Drug</label>
                        <div class="dropdown hierarchy-select col-md-10" id="drug">
                            <button type="button" class="btn btn-secondary dropdown-toggle" id="drug-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu" aria-labelledby="drug-button">
                                <div class="hs-searchbox">
                                    <input type="text" class="form-control" autocomplete="off">
                                </div>
                                <div class="hs-menu-inner">
                                    @foreach (var drug in Model.Drugs)
                                    {
                                        <a id="drug-name" class="dropdown-item" data-value="@drug.Id" href="#">@drug.Name</a>
                                    }
                                </div>
                            </div>
                            <input id="drugSelected" class="d-none" name="Drug" readonly="readonly" aria-hidden="true" type="text" />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="control-label col-md-10">Quantity</label>
                        <div class="col-md-10">
                            @Html.TextBox("drugQuantity", "", new { @class = "form-control", @type = "number" })
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <div class="form-group">
            <table>
                <tr>
                    <td>
                        <div class="col-md-10"></div>
                        <input class="btn btn-primary" type="button" id="btnAdd" value="Add Drug" />
                    </td>
                    <td>
                        <div class="col-md-10"></div>
                        <input class="btn btn-primary" type="submit" id="submit" value="Create Tender" />
                    </td>
                </tr>
            </table>
        </div>
        @* </form>*@


    </div>
</div>
<table class="table" id="tender-table">
    <thead>
        <tr>
            <th scope="col">Drug ID</th>
            <th scope="col">Drug Name</th>
            <th scope="col">Quantity</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('#drug').hierarchySelect({
            hierarchy: false,
            width: 'auto'
        });
    </script>
    
    <script>
        $("#btnAdd").on('click', function () {
            var tenderRow = '<tr><td>' + $("#drug-button").attr("data-value") + '<td>' + $("#drug-button").text() + '</td><td>' + $("#drugQuantity").val() + '</td><td><a href="#" class="delete-button">X</a></d></tr>';
            $("#tender-table").find("tbody").append(tenderRow);
        });

        $("#tender-table").on("click", ".delete-button", function () {
            $(this).closest("tr").remove();
        });

        $("body").on("click", "#submit", function () {
            //Loop through the Table rows and build a JSON array.
            var tenderDrugs = new Array();
            $("#tender-table TBODY TR").each(function () {
                var row = $(this);
                var drug = {};
                drug.Name = row.find("TD").eq(0).html();
                drug.Quantity = parseInt(row.find("TD").eq(1).html(), 10);
                tenderDrugs.push(drug);
            });

            console.log(JSON.stringify(tenderDrugs))

            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                url: "/Tender/PushDrugList",
                data: JSON.stringify(tenderDrugs),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    alert(r + " record(s) inserted.");
                }
            });
        });
    </script>
}